# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

RewriteCond %{HTTP_HOST} ^rusi\.ca$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rusi\.ca$
RewriteRule ^(.*)$ "https\:\/\/rusi\-ns\.ca\/$1" [R=301,L]

